html,body{height:100%;}

/* keep full widget on smaller screens */
@media (max-width: 767px) { 
    body {
        padding-left: 0;
        padding-right: 0;
    }
}

body { padding-top: 40px; }

.navbar {
    margin: 0;
    border: 0;
}

.navbar-inverse .navbar-brand {
    font-size:30px;
}

#landing {
    margin-top: 60px;
}

#landing img {
    width:300px;
    height:375px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#landing p {
    padding-top: 60px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom:20px;
    font-size:30px;
}

.divider {
    background-color: #000000;
    height: 30px;
}


.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #ffffff;
    margin-left: auto;
    margin-right: auto;
}

#about {
  background-color: #000000;
}

.about-text {
    padding-top: 1em;
}

.about-text p, h1, h2, li {
    color: #ffffff;
 }

 .about-text h1 {
    text-align:center;
 }

.about-text p {
    font-size:16px;
    padding-left: 2em;
}

#double {
    padding: 0 0.4em;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style: inside disc;
}

#double > li {
    padding-left: 4em;
    text-indent: -1em;
}

#officers {
    text-align:center;
}

.officer-photos {
    margin-top:5%;
    margin-bottom:40px;
}

.officer-photos > div > h2 {
    padding-left: 1em;
    padding-bottom:1em;
    text-align:center;
}

.officer-photos > div > p {
    text-align:center;
    padding-top: 1em;
    color: #ffffff;
}

.officer-photos a {
    text-decoration: none;
}

.officer-photos > div > a > img {
    display:block;
    margin:auto;
}

#projects-divider {
    background-color: white;
}

#projects-divider > .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid black;
    margin-left: auto;
    margin-right: auto;
}

#projects-info {
    margin-bottom:20px;

}

#projects-info h1{
    color:black;
    text-align:center;
}

#projects-info h2 {
    color:black;
    padding-left:1em;
    padding-top:2em;
}

#projects-info p {
    margin-top:1em;
    padding-left:30px;
    color:black;
}

#projects-info ul {
   margin:0 auto;
   display:block;
}

#projects-info li {
    color:black;
}

.sponsor-button {
    padding-top:30px;
    text-align: center;
    padding-bottom:30px;
}

@media (max-width: 992px) {
    #mobile-button { 
        display: inline-block !important;
    }
}

#autodesk {
    width:430px; 
    height:500px; 
    border: medium none;
    display:block;
    margin:auto;
}

#autodesk-border {
    border-style: solid;
    border-color: gray;
    display:inline-block;
    margin-left:40px;
}

#FSAE-picture {
    margin: auto;
    margin-top:-15px;
    display:block;
}

#contacts-divider {
    background-color:black;
}

#contacts-divider > .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;
    margin-left: auto;
    margin-right: auto;
}

#contact-info {
    background-color: black;
    margin-bottom: 0;
}

#contact-info > h1 {
    color: white;
    text-align: center;
}

#contact-info > iframe {
    padding-top: 20px;
    display:block;
    margin: 0 auto;
}

#contact-info > address {
    text-align:center;
    margin-top: 2em;
    color:white;
 }

